body {
  background-color: #505050;
}

label {
  color: #fff;
}

.panel-default>.panel-heading {
  background-color: #d9534f;
  color: #333;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color:#d9534f;
}

.navbar-inverse .navbar-nav>li>a {
  color:#d9534f;  
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #d9534f
}

#createPoll {
  margin-bottom: 3%;
}
